.vc-settings-card {
    background-image: url(https://guhw.dev/tis_theme/theme/message.png?raw=true#);
    background-position: bottom;
    background-size: 500px;
    background-repeat: no-repeat;
    height: 250px;
}

.vc-plugins:not([data-tab-id="VencordPlugins"]) {
    background-color: red;   
    color: white !important;
    transform: translateX(-20%);
    height: 100px;

    background-image: url(https://guhw.dev/tis_theme/theme/noplugin.png?raw=true);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}